Conuar/conuar_webapp/etl/NodeRed/NodeRed_Config_20260118.json
[
    {
        "id": "226545f5561ba834",
        "type": "tab",
        "label": "Conuar NodeRED test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fac6d560fc660ce4",
        "type": "csv",
        "z": "226545f5561ba834",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\r\\n",
        "temp": "datetime,CicloActivo,ReiniciarCiclo,AbortarCiclo,FinCiclo,ID_Control,Nombre_Control,ID_EC,NombreCiclo",
        "skip": "1",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "08b11ad50360b781"
            ]
        ]
    },
    {
        "id": "08b11ad50360b781",
        "type": "file",
        "z": "226545f5561ba834",
        "name": "",
        "filename": "C:\\Users\\USER\\Documents\\GitHub\\Inspection_webapp\\Conuar\\conuar_webapp\\etl\\NodeRed\\plc_reads\\plc_reads_nodered.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "65d6647c076c40df",
        "type": "s7 in",
        "z": "226545f5561ba834",
        "endpoint": "ea00910e0660f471",
        "mode": "all",
        "variable": "",
        "diff": true,
        "name": "",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "c81f31e7199beafd",
                "c8e4c91b2884fa07"
            ]
        ]
    },
    {
        "id": "c81f31e7199beafd",
        "type": "function",
        "z": "226545f5561ba834",
        "name": "function 1",
        "func": "function decodeString(buf, name) {\n    if (!buf || !Array.isArray(buf) || buf.length < 2) {\n        //node.warn(\"Buffer for \" + name + \" is undefined, not an array, or too short: \" + JSON.stringify(buf));\n        return null;\n    }\n    let maxLen = buf[0];\n    let realLen = buf[1];\n    let chars = buf.slice(2, 2 + realLen);\n    let result = String.fromCharCode.apply(null, chars);\n    //node.warn(\"Decoded \" + name + \": '\" + result + \"' from buffer: \" + JSON.stringify(buf));\n    return result;\n}\n\n\nlet ID_Control = decodeString(msg.payload.ID_Control, 'ID_Control');\nmsg.payload.ID_Control = ID_Control;\n\nlet Nombre_Control = decodeString(msg.payload.Nombre_Control, 'Nombre_Control');\nmsg.payload.Nombre_Control = Nombre_Control;\n\nlet ID_EC = decodeString(msg.payload.ID_EC, 'ID_EC');\nmsg.payload.ID_EC = ID_EC;\n\nlet NombreCiclo = decodeString(msg.payload.NombreCiclo, 'NombreCiclo');\nmsg.payload.NombreCiclo = NombreCiclo;\n\nmsg.payload.datetime = (new Date()).toISOString();\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 280,
        "wires": [
            [
                "fac6d560fc660ce4"
            ]
        ]
    },
    {
        "id": "51479d7ea6e6f03c",
        "type": "obs request",
        "z": "226545f5561ba834",
        "name": "OBS Request Start",
        "obsInstance": "f9e0650f40d25921",
        "requests": [
            {
                "rt": "StartRecord",
                "rtt": "requestName",
                "rd": "",
                "rdt": "none"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": "",
        "reqTypeType": "",
        "reqData": "",
        "reqDataType": "",
        "x": 530,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f01232d9e73e65f7",
        "type": "obs request",
        "z": "226545f5561ba834",
        "name": "OBS Request Stop",
        "obsInstance": "f9e0650f40d25921",
        "requests": [
            {
                "rt": "StopRecord",
                "rtt": "requestName",
                "rd": "",
                "rdt": "none"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": "",
        "reqTypeType": "",
        "reqData": "",
        "reqDataType": "",
        "x": 510,
        "y": 480,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c8e4c91b2884fa07",
        "type": "function",
        "z": "226545f5561ba834",
        "name": "function 2",
        "func": "/**\n * NodeRed Function: Screen Recording Control (Updated)\n *\n * Outputs:\n * - Output 1: Original PLC data message (always sent)\n * - Output 2: OBS recording command (only when state changes)\n *\n * OBS command format: { payload: { requestType: \"StartRecord\" | \"StopRecord\" } }\n */\n\nfunction decodeString(buf, name) {\n    if (!buf || !Array.isArray(buf) || buf.length < 2) return null;\n    let realLen = buf[1];\n    let chars = buf.slice(2, 2 + realLen);\n    return String.fromCharCode.apply(null, chars);\n}\n\nfunction isBooleanTrue(value) {\n    if (typeof value === 'boolean') return value;\n    if (typeof value === 'string') return value.toLowerCase().trim() === 'true' || value.trim() === '1';\n    if (typeof value === 'number') return value === 1;\n    return false;\n}\n\n// Decode buffer fields\nlet ID_Control = decodeString(msg.payload.ID_Control, 'ID_Control');\nlet Nombre_Control = decodeString(msg.payload.Nombre_Control, 'Nombre_Control');\nlet ID_EC = decodeString(msg.payload.ID_EC, 'ID_EC');\nlet NombreCiclo = decodeString(msg.payload.NombreCiclo, 'NombreCiclo');\nmsg.payload.ID_Control = ID_Control;\nmsg.payload.Nombre_Control = Nombre_Control;\nmsg.payload.ID_EC = ID_EC;\nmsg.payload.NombreCiclo = NombreCiclo;\nmsg.payload.datetime = (new Date()).toISOString();\n\n// Decode/handle CicloActivo\nlet CicloActivo = msg.payload.CicloActivo;\nif (CicloActivo && Array.isArray(CicloActivo)) {\n    CicloActivo = decodeString(CicloActivo, 'CicloActivo');\n}\nlet cicloActivoCurrent = isBooleanTrue(CicloActivo);\n\nlet cicloActivoPrevious = flow.get('cicloActivoPrevious') || false;\n\nlet recordingCommand = null;\n\nif (cicloActivoCurrent && !cicloActivoPrevious) {\n    // Start recording\n    recordingCommand = {\n        requestType: \"StartRecord\"\n    };\n    node.warn(\">>> Inspection cycle STARTED - Starting screen recording\");\n    flow.set('currentNombreCiclo', NombreCiclo || 'UNKNOWN');\n    flow.set('currentID_EC', ID_EC || 'UNKNOWN');\n} else if (!cicloActivoCurrent && cicloActivoPrevious) {\n    // Stop recording\n    recordingCommand = {\n        requestType: \"StopRecord\"\n    };\n    node.warn(\">>> Inspection cycle ENDED - Stopping screen recording\");\n}\n\nflow.set('cicloActivoPrevious', cicloActivoCurrent);\n\n// If there's a recording command, set up OBS command payload\nif (recordingCommand) {\n    // OBS webhook connector expects: requestType (string) and requestData (object)\n    // Ensure requestType is explicitly a string, not an object reference\n    let requestTypeStr = String(recordingCommand.requestType);\n    \n    msg.payload = {\n        requestType: requestTypeStr,  // string: \"StartRecord\" or \"StopRecord\"\n        requestData: {}  // object (required by OBS connector, can be empty)\n    };\n    \n    // Return message with OBS command structure\n    return msg;\n}\n\n// If no recording command, return null to avoid sending invalid data to OBS connector\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 420,
        "wires": [
            [
                "500c7598c58110c4",
                "a2a2d84b094e0146"
            ]
        ]
    },
    {
        "id": "500c7598c58110c4",
        "type": "obs request",
        "z": "226545f5561ba834",
        "name": "",
        "obsInstance": "f9e0650f40d25921",
        "requests": [
            {
                "rt": "payload",
                "rtt": "msg",
                "rd": "JSON.parse(msg.payload.requestData)",
                "rdt": "jsonata"
            }
        ],
        "batchExecutionType": "SerialRealtime",
        "haltOnFailure": false,
        "reqType": "",
        "reqTypeType": "",
        "reqData": "",
        "reqDataType": "",
        "x": 430,
        "y": 380,
        "wires": [
            [
                "164a2bc4e73232fa"
            ],
            []
        ]
    },
    {
        "id": "164a2bc4e73232fa",
        "type": "debug",
        "z": "226545f5561ba834",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "a2a2d84b094e0146",
        "type": "debug",
        "z": "226545f5561ba834",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 560,
        "wires": []
    },
    {
        "id": "ea00910e0660f471",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.0.45",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": "1000",
        "timeout": 2000,
        "name": "PLC_1",
        "vartable": [
            {
                "addr": "DB8,X1.1",
                "name": "CicloActivo"
            },
            {
                "addr": "DB8,X1.2",
                "name": "ReiniciarCiclo"
            },
            {
                "addr": "DB8,X1.3",
                "name": "AbortarCiclo"
            },
            {
                "addr": "DB8,X1.4",
                "name": "FinCiclo"
            },
            {
                "addr": "DB8,X3.7",
                "name": "SiempreUNO"
            },
            {
                "addr": "DB8,BYTE120.12",
                "name": "ID_Control"
            },
            {
                "addr": "DB8,BYTE132.62",
                "name": "Nombre_Control"
            },
            {
                "addr": "DB8,BYTE194.22",
                "name": "ID_EC"
            },
            {
                "addr": "DB8,BYTE216.42",
                "name": "NombreCiclo"
            }
        ]
    },
    {
        "id": "f9e0650f40d25921",
        "type": "obs-instance",
        "name": "OBS Instance 1",
        "host": "127.0.0.1",
        "port": 4455
    },
    {
        "id": "40db3ee9af43229a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-s7": "3.1.1",
            "node-red-contrib-obs-ws": "1.2.2"
        }
    }
]