Conuar/conuar_webapp/etl/Conuar test NodeRed/Conuar NodeRED test.json
[
    {
        "id": "226545f5561ba834",
        "type": "tab",
        "label": "Conuar NodeRED test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d896886ac9daa015",
        "type": "s7 in",
        "z": "226545f5561ba834",
        "endpoint": "ea00910e0660f471",
        "mode": "all-split",
        "variable": "",
        "diff": false,
        "name": "",
        "x": 130,
        "y": 220,
        "wires": [
            [
                "4333a24aea98ff4c"
            ]
        ]
    },
    {
        "id": "4333a24aea98ff4c",
        "type": "function",
        "z": "226545f5561ba834",
        "name": "function 1",
        "func": "// Retrieve stored PLC data from flow context\nlet data = flow.get(\"plcData\") || {};\n\n// Update the data object with the latest PLC variable and its value\n// msg.topic should contain the PLC variable name (e.g. \"DB1,REAL0\")\ndata[msg.topic] = msg.payload;\n\n// Save back to flow\nflow.set(\"plcData\", data);\n\nlet timestamp = new Date().toISOString();\n\n// Create a CSV header order from the PLC variable names (sorted for consistency)\nlet variables = Object.keys(data).sort();\n\n// Create one line with values in the same order\nlet values = variables.map(v => data[v]);\n\n// Combine timestamp + readings into a CSV row\nlet csvLine = `${timestamp},${values.join(\",\")}\\n`;\n\n// Prepare message for file node\nmsg.payload = csvLine;\n\n// Optionally reset data after writing\n// flow.set(\"plcData\", {}); \n\nreturn msg; // Send only when we have all values\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "fac6d560fc660ce4"
            ]
        ]
    },
    {
        "id": "fac6d560fc660ce4",
        "type": "csv",
        "z": "226545f5561ba834",
        "name": "",
        "spec": "rfc",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\r\\n",
        "temp": "datetime,tank_level,InSight_3800-TriggerEnable, InSight_3800-Trigger, InSight_3800-ClearExposureComplete, InSight_3800-Set Offline, InSight_3800-TriggerReady, InSight_3800-TriggerAck, InSight_3800-ExposureComplete, InSight_3800-AcquisitionError, InSight_3800-Offline Reason, InSight_3800-Offline Reason(1), InSight_3800-Offline Reason(2), InSight_3800-Online, InSight_3800-AcquisitionID, InSight_3800-BufferResultsEnable, InSight_3800-InspectionResultsAck, InSight_3800-SetUserData, InSight_3800-ExecuteCommand/JobLoad, InSight_3800-ClearError, InSight_3800-Reserved, InSight_3800-InspectionCompleted, InSight_3800-ResultsBufferOverrun, InSight_3800-ResultsValid, InSight_3800-CommandExecuting, InSight_3800-CommandCompleted, InSight_3800-CommandFailed, InSight_3800-SetUserDataAck, InSight_3800-ResultsPassed (Job), InSight_3800-SystemValidated, InSight_3800-Error, InSight_3800-ErrorCode, InSight_3800-CommandID, InSight_3800-Current Job ID, InSight_3800-CommandResultCode, InSight_3800-ExternalEvent[0], InSight_3800-ExternalEvent[1], InSight_3800-ExternalEvent[2], InSight_3800-ExternalEvent[3], InSight_3800-ExternalEvent[4], InSight_3800-ExternalEvent[5], InSight_3800-ExternalEvent[6], InSight_3800-ExternalEvent[7], InSight_3800-ExternalEventAck[0], InSight_3800-ExternalEventAck[1], InSight_3800-ExternalEventAck[2], InSight_3800-ExternalEventAck[3], InSight_3800-ExternalEventAck[4], InSight_3800-ExternalEventAck[5], InSight_3800-ExternalEventAck[6], InSight_3800-ExternalEventAck[7], InSight_3800-UserData[0], InSight_3800-UserData[1], InSight_3800-UserData[2], InSight_3800-UserData[3], InSight_3800-UserData[4], InSight_3800-UserData[5], InSight_3800-UserData[6], InSight_3800-UserData[7], InSight_3800-UserData[8], InSight_3800-UserData[9], InSight_3800-UserData[10], InSight_3800-UserData[11], InSight_3800-UserData[12], InSight_3800-UserData[13], InSight_3800-UserData[14], InSight_3800-UserData[15], InSight_3800-InspectionID, InSight_3800-InspectionResultsCode, InSight_3800-InspectionResults[0], InSight_3800-InspectionResults[1], InSight_3800-InspectionResults[2], InSight_3800-InspectionResults[3], InSight_3800-InspectionResults[4], InSight_3800-InspectionResults[5], InSight_3800-InspectionResults[6], InSight_3800-InspectionResults[7], InSight_3800-InspectionResults[8], InSight_3800-InspectionResults[9], InSight_3800-InspectionResults[10], InSight_3800-InspectionResults[11], InSight_3800-InspectionResults[12], InSight_3800-InspectionResults[13], InSight_3800-InspectionResults[14], InSight_3800-InspectionResults[15], Hmi_Trigger, Position_Value, Estado_Camara_OK, Estado_Camara_Error, Enable, MarcaExternalEvent, Trigger_Ready_3800, Flanco_3800, 3800_Trigger, Test_Home, Reinicio_Secuencia, Ciclo_Abortado",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "08b11ad50360b781"
            ]
        ]
    },
    {
        "id": "08b11ad50360b781",
        "type": "file",
        "z": "226545f5561ba834",
        "name": "",
        "filename": "C:\\Users\\Admin\\Documents\\Inspection_webapp\\Conuar\\conuar_webapp\\etl\\Conuar test NodeRed\\plc_reads\\plc_reads_nodered.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1000,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ea00910e0660f471",
        "type": "s7 endpoint",
        "transport": "iso-on-tcp",
        "address": "192.168.1.23",
        "port": "102",
        "rack": "0",
        "slot": "1",
        "localtsaphi": "01",
        "localtsaplo": "00",
        "remotetsaphi": "01",
        "remotetsaplo": "00",
        "connmode": "rack-slot",
        "adapter": "",
        "busaddr": 2,
        "cycletime": "10000",
        "timeout": 2000,
        "name": "PLC_1",
        "vartable": [
            {
                "addr": "MD1000",
                "name": "tank_level"
            },
            {
                "addr": "Q200.0",
                "name": "InSight_3800-TriggerEnable"
            },
            {
                "addr": "Q200.1",
                "name": "InSight_3800-Trigger"
            },
            {
                "addr": "Q200.2",
                "name": "InSight_3800-ClearExposureComplete"
            },
            {
                "addr": "Q200.7",
                "name": "InSight_3800-Set Offline"
            },
            {
                "addr": "I200.0",
                "name": "InSight_3800-TriggerReady"
            },
            {
                "addr": "I200.1",
                "name": "InSight_3800-TriggerAck"
            },
            {
                "addr": "I200.2",
                "name": "InSight_3800-ExposureComplete"
            },
            {
                "addr": "I200.3",
                "name": "InSight_3800-AcquisitionError"
            },
            {
                "addr": "I200.4",
                "name": "InSight_3800-Offline Reason"
            },
            {
                "addr": "I200.5",
                "name": "InSight_3800-Offline Reason(1)"
            },
            {
                "addr": "I200.6",
                "name": "InSight_3800-Offline Reason(2)"
            },
            {
                "addr": "I200.7",
                "name": "InSight_3800-Online"
            },
            {
                "addr": "IW208",
                "name": "InSight_3800-AcquisitionID"
            },
            {
                "addr": "Q201.0",
                "name": "InSight_3800-BufferResultsEnable"
            },
            {
                "addr": "Q201.1",
                "name": "InSight_3800-InspectionResultsAck"
            },
            {
                "addr": "Q201.2",
                "name": "InSight_3800-SetUserData"
            },
            {
                "addr": "Q201.3",
                "name": "InSight_3800-ExecuteCommand/JobLoad"
            },
            {
                "addr": "Q201.7",
                "name": "InSight_3800-ClearError"
            },
            {
                "addr": "I204.0",
                "name": "InSight_3800-Reserved"
            },
            {
                "addr": "I204.1",
                "name": "InSight_3800-InspectionCompleted"
            },
            {
                "addr": "I204.2",
                "name": "InSight_3800-ResultsBufferOverrun"
            },
            {
                "addr": "I204.3",
                "name": "InSight_3800-ResultsValid"
            },
            {
                "addr": "I204.4",
                "name": "InSight_3800-CommandExecuting"
            },
            {
                "addr": "I204.5",
                "name": "InSight_3800-CommandCompleted"
            },
            {
                "addr": "I204.6",
                "name": "InSight_3800-CommandFailed"
            },
            {
                "addr": "I204.7",
                "name": "InSight_3800-SetUserDataAck"
            },
            {
                "addr": "I205.0",
                "name": "InSight_3800-ResultsPassed (Job)"
            },
            {
                "addr": "I205.1",
                "name": "InSight_3800-SystemValidated"
            },
            {
                "addr": "I205.7",
                "name": "InSight_3800-Error"
            },
            {
                "addr": "IW206",
                "name": "InSight_3800-ErrorCode"
            },
            {
                "addr": "QW208",
                "name": "InSight_3800-CommandID"
            },
            {
                "addr": "IW202",
                "name": "InSight_3800-Current Job ID"
            },
            {
                "addr": "IW204",
                "name": "InSight_3800-CommandResultCode"
            },
            {
                "addr": "Q204.0",
                "name": "InSight_3800-ExternalEvent[0]"
            },
            {
                "addr": "Q204.1",
                "name": "InSight_3800-ExternalEvent[1]"
            },
            {
                "addr": "Q204.2",
                "name": "InSight_3800-ExternalEvent[2]"
            },
            {
                "addr": "Q204.3",
                "name": "InSight_3800-ExternalEvent[3]"
            },
            {
                "addr": "Q204.4",
                "name": "InSight_3800-ExternalEvent[4]"
            },
            {
                "addr": "Q204.5",
                "name": "InSight_3800-ExternalEvent[5]"
            },
            {
                "addr": "Q204.6",
                "name": "InSight_3800-ExternalEvent[6]"
            },
            {
                "addr": "Q204.7",
                "name": "InSight_3800-ExternalEvent[7]"
            },
            {
                "addr": "I212.0",
                "name": "InSight_3800-ExternalEventAck[0]"
            },
            {
                "addr": "I212.1",
                "name": "InSight_3800-ExternalEventAck[1]"
            },
            {
                "addr": "I212.2",
                "name": "InSight_3800-ExternalEventAck[2]"
            },
            {
                "addr": "I212.3",
                "name": "InSight_3800-ExternalEventAck[3]"
            },
            {
                "addr": "I212.4",
                "name": "InSight_3800-ExternalEventAck[4]"
            },
            {
                "addr": "I212.5",
                "name": "InSight_3800-ExternalEventAck[5]"
            },
            {
                "addr": "I212.6",
                "name": "InSight_3800-ExternalEventAck[6]"
            },
            {
                "addr": "I212.7",
                "name": "InSight_3800-ExternalEventAck[7]"
            },
            {
                "addr": "QB205",
                "name": "InSight_3800-UserData[0]"
            },
            {
                "addr": "QB206",
                "name": "InSight_3800-UserData[1]"
            },
            {
                "addr": "QB207",
                "name": "InSight_3800-UserData[2]"
            },
            {
                "addr": "QB208",
                "name": "InSight_3800-UserData[3]"
            },
            {
                "addr": "QB209",
                "name": "InSight_3800-UserData[4]"
            },
            {
                "addr": "QB210",
                "name": "InSight_3800-UserData[5]"
            },
            {
                "addr": "QB211",
                "name": "InSight_3800-UserData[6]"
            },
            {
                "addr": "QB212",
                "name": "InSight_3800-UserData[7]"
            },
            {
                "addr": "QB213",
                "name": "InSight_3800-UserData[8]"
            },
            {
                "addr": "QB214",
                "name": "InSight_3800-UserData[9]"
            },
            {
                "addr": "QB215",
                "name": "InSight_3800-UserData[10]"
            },
            {
                "addr": "QB216",
                "name": "InSight_3800-UserData[11]"
            },
            {
                "addr": "QB217",
                "name": "InSight_3800-UserData[12]"
            },
            {
                "addr": "QB218",
                "name": "InSight_3800-UserData[13]"
            },
            {
                "addr": "QB219",
                "name": "InSight_3800-UserData[14]"
            },
            {
                "addr": "QB220",
                "name": "InSight_3800-UserData[15]"
            },
            {
                "addr": "IW213",
                "name": "InSight_3800-InspectionID"
            },
            {
                "addr": "IW215",
                "name": "InSight_3800-InspectionResultsCode"
            },
            {
                "addr": "IB217",
                "name": "InSight_3800-InspectionResults[0]"
            },
            {
                "addr": "IB218",
                "name": "InSight_3800-InspectionResults[1]"
            },
            {
                "addr": "IB219",
                "name": "InSight_3800-InspectionResults[2]"
            },
            {
                "addr": "IB220",
                "name": "InSight_3800-InspectionResults[3]"
            },
            {
                "addr": "IB221",
                "name": "InSight_3800-InspectionResults[4]"
            },
            {
                "addr": "IB222",
                "name": "InSight_3800-InspectionResults[5]"
            },
            {
                "addr": "IB223",
                "name": "InSight_3800-InspectionResults[6]"
            },
            {
                "addr": "IB224",
                "name": "InSight_3800-InspectionResults[7]"
            },
            {
                "addr": "IB225",
                "name": "InSight_3800-InspectionResults[8]"
            },
            {
                "addr": "IB226",
                "name": "InSight_3800-InspectionResults[9]"
            },
            {
                "addr": "IB227",
                "name": "InSight_3800-InspectionResults[10]"
            },
            {
                "addr": "IB228",
                "name": "InSight_3800-InspectionResults[11]"
            },
            {
                "addr": "IB229",
                "name": "InSight_3800-InspectionResults[12]"
            },
            {
                "addr": "IB230",
                "name": "InSight_3800-InspectionResults[13]"
            },
            {
                "addr": "IB231",
                "name": "InSight_3800-InspectionResults[14]"
            },
            {
                "addr": "IB232",
                "name": "InSight_3800-InspectionResults[15]"
            },
            {
                "addr": "M100.0",
                "name": "Hmi_Trigger"
            },
            {
                "addr": "MW150",
                "name": "Position_Value"
            },
            {
                "addr": "M100.1",
                "name": "Estado_Camara_OK"
            },
            {
                "addr": "M100.2",
                "name": "Estado_Camara_Error"
            },
            {
                "addr": "M20.0",
                "name": "Enable"
            },
            {
                "addr": "M100.5",
                "name": "MarcaExternalEvent"
            },
            {
                "addr": "M100.7",
                "name": "Trigger_Ready_3800"
            },
            {
                "addr": "M200.0",
                "name": "Flanco_3800"
            },
            {
                "addr": "M200.1",
                "name": "3800_Trigger"
            },
            {
                "addr": "M2.1",
                "name": "Test_Home"
            },
            {
                "addr": "M100.4",
                "name": "Reinicio_Secuencia"
            },
            {
                "addr": "M100.6",
                "name": "Ciclo_Abortado"
            }
        ]
    },
    {
        "id": "e15d3247cab3b7f1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-s7": "3.1.1"
        }
    }
]